=begin
#MassPay API

#MassPay API

The version of the OpenAPI document: 0.1.4
Contact: support@masspay.io
Generated by: MassPay Inc.
OpenAPI Generator version: 6.5.0
=end

require 'cgi'

module MassPayRubySdk
  class KYCApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Attributes velocity check
    # Identify users with matching attribute values
    # @param user_token [String] Token representing the user to retrieve attributes for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Unique key to prevent duplicate processing
    # @option opts [Array<AttrVelocityRequestInner>] :attr_velocity_request_inner 
    # @return [Array<Object>]
    def find_attributes_velocity(user_token, opts = {})
      data, _status_code, _headers = find_attributes_velocity_with_http_info(user_token, opts)
      data
    end

    # Attributes velocity check
    # Identify users with matching attribute values
    # @param user_token [String] Token representing the user to retrieve attributes for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Unique key to prevent duplicate processing
    # @option opts [Array<AttrVelocityRequestInner>] :attr_velocity_request_inner 
    # @return [Array<(Array<Object>, Integer, Hash)>] Array<Object> data, response status code and response headers
    def find_attributes_velocity_with_http_info(user_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.find_attributes_velocity ...'
      end
      # verify the required parameter 'user_token' is set
      if @api_client.config.client_side_validation && user_token.nil?
        fail ArgumentError, "Missing the required parameter 'user_token' when calling KYCApi.find_attributes_velocity"
      end
      # resource path
      local_var_path = '/attribute/{user_token}/velocity'.sub('{' + 'user_token' + '}', CGI.escape(user_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attr_velocity_request_inner'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'AUTHORIZER_NAME']

      new_options = opts.merge(
        :operation => :"KYCApi.find_attributes_velocity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#find_attributes_velocity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an Au10tix session link
    # @param user_token [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUserUserTokenKycAu10tix200Response]
    def get_user_user_token_kyc_au10tix(user_token, opts = {})
      data, _status_code, _headers = get_user_user_token_kyc_au10tix_with_http_info(user_token, opts)
      data
    end

    # Get an Au10tix session link
    # @param user_token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserUserTokenKycAu10tix200Response, Integer, Hash)>] GetUserUserTokenKycAu10tix200Response data, response status code and response headers
    def get_user_user_token_kyc_au10tix_with_http_info(user_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.get_user_user_token_kyc_au10tix ...'
      end
      # verify the required parameter 'user_token' is set
      if @api_client.config.client_side_validation && user_token.nil?
        fail ArgumentError, "Missing the required parameter 'user_token' when calling KYCApi.get_user_user_token_kyc_au10tix"
      end
      # resource path
      local_var_path = '/user/{user_token}/kyc/au10tix'.sub('{' + 'user_token' + '}', CGI.escape(user_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserUserTokenKycAu10tix200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'AUTHORIZER_NAME']

      new_options = opts.merge(
        :operation => :"KYCApi.get_user_user_token_kyc_au10tix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#get_user_user_token_kyc_au10tix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Veriff session link
    # @param user_token [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUserUserTokenKycVeriiff200Response]
    def get_user_user_token_kyc_veriiff(user_token, opts = {})
      data, _status_code, _headers = get_user_user_token_kyc_veriiff_with_http_info(user_token, opts)
      data
    end

    # Get a Veriff session link
    # @param user_token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserUserTokenKycVeriiff200Response, Integer, Hash)>] GetUserUserTokenKycVeriiff200Response data, response status code and response headers
    def get_user_user_token_kyc_veriiff_with_http_info(user_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.get_user_user_token_kyc_veriiff ...'
      end
      # verify the required parameter 'user_token' is set
      if @api_client.config.client_side_validation && user_token.nil?
        fail ArgumentError, "Missing the required parameter 'user_token' when calling KYCApi.get_user_user_token_kyc_veriiff"
      end
      # resource path
      local_var_path = '/user/{user_token}/kyc/veriff'.sub('{' + 'user_token' + '}', CGI.escape(user_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserUserTokenKycVeriiff200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key', 'AUTHORIZER_NAME']

      new_options = opts.merge(
        :operation => :"KYCApi.get_user_user_token_kyc_veriiff",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#get_user_user_token_kyc_veriiff\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
